@model List<Fatura>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            <th>FATURA NO</th>
            <th>FATURA TARİHİ</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var fatura in Model)
        {
            <tr>
                <td>@fatura.FaturaNo </td>
                <td>@fatura.FaturaTarihi</td>
            </tr>
        }

    </tbody>
</table>
